<div>
    <h1>Daily Logs</h1>
    <form action="/daily-logs" method="post">
        <div class="input-field-wrapper">
            <input type="hidden" name="user_id" value="<%= loggedInUserId %>" />
            <input name="created_on" required placeholder="Date" type="date" class="daily-logs-input" />
            <select name="project" required class="form-select daily-logs-input" aria-label="Default select example">
                <option selected>Select your project</option>
                <%projects.forEach(project=> { %>
                    <option value="<%= project.id %>" >
                        <%= project.name %>
                    </option>
                    <% }); %>

            </select>
            <select name="user_role" required class="form-select daily-logs-input" aria-label="Default select example">
                <option selected>Select your role</option>
                <%roles.forEach(role => { %>
                    <option value="<%= role.id %>"><%= role.title %></option>
                <% }); %>
            </select>
            <input name="duration" placeholder="Enter hours" type="number" class="daily-logs-input" />
        </div>
        <div class="input-field-wrapper">
            <textarea name="message" class="log-text-area" rows="3" placeholder="Enter log description"></textarea>
            <textarea name="tomorrows_plan" class="log-text-area" rows="3"
                placeholder="Enter tomorrows plan"></textarea>
            <textarea name="blocker" class="log-text-area" rows="3" placeholder="Enter any blockers"></textarea>
            <button class="add-log-button">Add Log</button>
        </div>
    </form>
    <table>
        <thead aria-colcount="7">
            <tr class="border">
                <th class="p-3" style="width: 10%; min-width: 100px;">Date</th>
                <th style="width: 10%; min-width: 100px;">Project</th>
                <th style="width: 10%; min-width: 100px;">Role</th>
                <th style="width: 25%; min-width: 300px;">Description</th>
                <th style="width: 20%; min-width: 300px;">Tommorows's Plan</th>
                <th style="width: 20%; min-width: 100px;">Important note</th>
                <th style="width: 5%; min-width: 50px;">Hours</th>
            </tr>
        </thead>
        <tbody>
            <% logs.forEach(log=> { %>
                <tr class="logs-table-row">
                    <td>
                        <%= new Date(log.created_on).toISOString().split('T')[0] %>
                    </td>
                    <td>
                        <%= log.project_id %>
                    </td>
                    <td>
                        <%= log.user_role %>
                    </td>
                    <td>
                        <%= log.message %>
                    </td>
                    <td>
                        <%= log.tomorrow_plan %>
                    </td>
                    <td>
                        <%= log.blocker %>
                    </td>
                    <td>
                        <%= log.duration %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>