<div>
    <h1>Daily Logs</h1>
    <form id="log-form" action="/daily-logs">
        <div class="input-field-wrapper">
            <input type="hidden" name="user_id" value="<%= loggedInUserId %>" />
            <input type="hidden" name="id" value="" />
            <input name="created_on" required placeholder="Date" type="date" class="daily-logs-input" />
            <select name="project" required class="form-select daily-logs-input" aria-label="Default select example">
                <option selected>Select your project</option>
                <%projects.forEach(project=> { %>
                    <option value="<%= project.id %>">
                        <%= project.name %>
                    </option>
                    <% }); %>

            </select>
            <select name="user_role" required class="form-select daily-logs-input" aria-label="Default select example">
                <option selected>Select your role</option>
                <%roles.forEach(role=> { %>
                    <option value="<%= role.id %>">
                        <%= role.title %>
                    </option>
                    <% }); %>
            </select>
            <input name="duration" placeholder="Enter hours" type="number" class="daily-logs-input" />
        </div>
        <div class="input-field-wrapper">
            <textarea name="message" class="log-text-area" rows="3" placeholder="Enter log description"></textarea>
            <textarea name="tomorrows_plan" class="log-text-area" rows="3"
                placeholder="Enter tomorrows plan"></textarea>
            <textarea name="blocker" class="log-text-area" rows="3" placeholder="Enter any blockers"></textarea>
            <button type="submit" name="add-log-button" class="add-log-button">Add Log</button>
        </div>
    </form>
    <table>
        <thead aria-colcount="7">
            <tr class="border">
                <th class="p-3" style="width: 10%; min-width: 100px;">Date</th>
                <th style="width: 10%; min-width: 100px;">Project</th>
                <th style="width: 10%; min-width: 100px;">Role</th>
                <th style="width: 30%; min-width: 300px;">Description</th>
                <th style="width: 20%; min-width: 300px;">Tommorows's Plan</th>
                <th style="width: 20%; min-width: 100px;">Important note</th>
                <th style="width: 5%; min-width: 50px;">Hours</th>
                <th style="width: 5%; min-width: 100px; text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% logs.forEach(log=> { %>
                <tr class="logs-table-row" data-id="<%= log.id %>">
                    <td>
                        <%= new Date(log.created_on).toISOString().split('T')[0] %>
                    </td>
                    <td>
                        <%= log.project_id %>
                    </td>
                    <td>
                        <%= log.user_role %>
                    </td>
                    <td>
                        <%= log.message %>
                    </td>
                    <td>
                        <%= log.tomorrow_plan %>
                    </td>
                    <td>
                        <%= log.blocker %>
                    </td>
                    <td>
                        <%= log.duration %>
                    </td>
                    <td style="text-align: center;">
                        <button id="edit-log-button" class="edit-log-button" data-id="<%= log.id %>" title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button id="delete-log-button" class="delete-log-button" data-id="<%= log.id %>" title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById("log-form");
        const submitButton = document.querySelector('.add-log-button');
        const logsTableBody = document.querySelector('tbody');  // Select the <tbody> element
        const editButton = document.getElementById("edit-log-button")

        function addEventListeners() {
            const editButtons = document.querySelectorAll('.edit-log-button');

            editButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const logId = this.getAttribute("data-id");
                    const row = this.closest('tr');
                    const logData = {
                        id: logId,
                        created_on: row.children[0].textContent.trim(),
                        project_id: row.children[1].textContent.trim(),
                        user_role: row.children[2].textContent.trim(),
                        message: row.children[3].textContent.trim(),
                        tomorrows_plan: row.children[4].textContent.trim(),
                        blocker: row.children[5].textContent.trim(),
                        duration: row.children[6].textContent.trim(),
                    };

                    form.querySelector('input[name="id"]').value = logData.id;
                    form.querySelector('input[name="created_on"]').value = logData.created_on;

                    form.querySelector('select[name="project"]').value = logData.project_id;
                    form.querySelector('select[name="user_role"]').value = logData.user_role;

                    form.querySelector('textarea[name="message"]').value = logData.message;
                    form.querySelector('textarea[name="tomorrows_plan"]').value = logData.tomorrows_plan;
                    form.querySelector('textarea[name="blocker"]').value = logData.blocker;
                    form.querySelector('input[name="duration"]').value = logData.duration;
                    form.querySelector('input[name="duration"]').value = logData.duration;
                    form.querySelector('button[name="add-log-button"]').textContent = "Update Log";
                });

            })
        }
        addEventListeners()

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const logId = document.querySelector('input[name="id"]').value;
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            const method = logId ? "PATCH" : "POST";
            const actionUrl = logId ? `/daily-logs/${logId}` : '/daily-logs';

            fetch(actionUrl, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(updatedLogs => {
                    // Update the table rows dynamically
                    logsTableBody.innerHTML = ''; // Clear existing logs

                    updatedLogs.forEach(log => {
                        const row = document.createElement('tr');
                        row.classList.add('logs-table-row');
                        row.setAttribute('data-id', log.id);

                        row.innerHTML = `
                    <td>${new Date(log.created_on).toISOString().split('T')[0]}</td>
                    <td>${log.project_id}</td>
                    <td>${log.user_role}</td>
                    <td>${log.message}</td>
                    <td>${log.tomorrow_plan}</td>
                    <td>${log.blocker}</td>
                    <td>${log.duration}</td>
                     <td style="text-align: center;">
                        <button id="edit-log-button" class="edit-log-button" data-id=${log.id} title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button id="delete-log-button" class="delete-log-button" data-id=${log.id} title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                `;

                        logsTableBody.appendChild(row);
                    });

                    // Optionally, reset the form after submission
                    addEventListeners();

                    // Optionally, reset the form after submission
                    form.reset();
                    form.querySelector('button[name="add-log-button"]').textContent = "Add Log";
                })
                .catch(error => {
                    console.error("Error submitting form:", error);
                });
        });
    });

</script>