<div>
    <h1>Leaves</h1>
    <form id="log-form" action="/leaves">
        <div class="input-field-wrapper">
            <input type="hidden" name="userId" value="<%= loggedInUserId %>" />
            <input type="hidden" name="id" value="" />

            <textarea name="subject" class="log-text-area" rows="2" placeholder="Enter subject"></textarea>
            <textarea name="body" class="log-text-area" rows="3" placeholder="Enter Leave details"></textarea>
            <div>
                <p>Select Start Date</p>
                <input name="startDate" required placeholder="Date" type="date" class="daily-logs-input" />
            </div>
            <div>
                <p>Select End Date</p>
                <input name="endDate" required placeholder="Date" type="date" class="daily-logs-input" />
            </div>
            <button type="submit" name="add-leave-button" class="add-log-button">Request Leave</button>
        </div>

    </form>
    <table class="mt-5">
        <thead aria-colcount="7">
            <tr class="border">
                <th class="p-3" style="width: 10%; min-width: 100px;">Sr # </th>
                <th style="width: 10%; min-width: 100px;">Subject</th>
                <th style="width: 30%; min-width: 100px;">Body</th>
                <th style="width: 10%; min-width: 300px;">Start Date</th>
                <th style="width: 10%; min-width: 300px;">End Date</th>
                <th style="width: 20%; min-width: 100px;">Status</th>
                <th style="width: 10%; text-align: center; min-width: 100px;">Action</th>
            </tr>
        </thead>
        <tbody>
            <% leaves.forEach((leave, index)=> { %>
                <tr id="leave-table-row" class="logs-table-row" data-id="<%= leave.id %>">
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= leave.subject %>
                    </td>
                    <td>
                        <%= leave.body %>
                    </td>
                    <td>
                        <%= new Date(leave.startDate).toISOString().split('T')[0] %>
                    </td>
                    <td>
                        <%= new Date(leave.endDate).toISOString().split('T')[0] %>
                    </td>
                    <td>
                        <%= leave.status %>
                    </td>
                    <td style="text-align: center;">
                        <button id="edit-log-button" class="edit-leave-button" data-id="<%= leave.id %>" title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button id="delete-log-button" class="delete-leave-button" data-id="<%= leave.id %>"
                            title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById("log-form");
        const submitButton = document.querySelector('.add-log-button');
        const logsTableBody = document.querySelector('tbody');  // Select the <tbody> element

        function addEventListeners() {
            const editButtons = document.querySelectorAll('.edit-leave-button')
            editButtons?.forEach(button => {
                button.addEventListener("click", function () {
                    const leaveId = this.getAttribute("data-id")
                    const row = this.closest("tr")
                    const leaveData = {
                        id: leaveId,
                        subject: row.children[1].textContent.trim(),
                        body: row.children[2].textContent.trim(),
                        startDate: row.children[3].textContent.trim(),
                        endDate: row.children[4].textContent.trim(),
                    }
                    form.querySelector('input[name="id"]').value = leaveData.id;
                    form.querySelector('textarea[name="subject"]').value = leaveData.subject;
                    form.querySelector('textarea[name="body"]').value = leaveData.body;
                    form.querySelector('input[name="startDate"]').value = leaveData.startDate;
                    form.querySelector('input[name="endDate"]').value = leaveData.endDate;
                })
            })
            form.querySelector('button[name="add-leave-button"]').textContent = "Edit Request";
        }
        function addEventListeners() {
            const editButtons = document.querySelectorAll('.edit-leave-button')
            editButtons?.forEach(button => {
                button.addEventListener("click", function () {
                    const leaveId = this.getAttribute("data-id")
                    const row = this.closest("tr")
                    const leaveData = {
                        id: leaveId,
                        subject: row.children[1].textContent.trim(),
                        body: row.children[2].textContent.trim(),
                        startDate: row.children[3].textContent.trim(),
                        endDate: row.children[4].textContent.trim(),
                    }
                    form.querySelector('input[name="id"]').value = leaveData.id;
                    form.querySelector('textarea[name="subject"]').value = leaveData.subject;
                    form.querySelector('textarea[name="body"]').value = leaveData.body;
                    form.querySelector('input[name="startDate"]').value = leaveData.startDate;
                    form.querySelector('input[name="endDate"]').value = leaveData.endDate;
                })
            })
            form.querySelector('button[name="add-leave-button"]').textContent = "Edit Request";
        }

        function addDeleteEventListners() {
            const deleteButtons = document.querySelectorAll(".delete-leave-button")
            deleteButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const logId = this.getAttribute("data-id")
                    fetch(`/leaves/${logId}`, {
                        method: "DELETE",
                        headers: {
                            'Content-Type': "application/json",
                        }
                    }).then(response => response.json())
                        .then(updatedLeaves => {
                            addAllLeaves(updatedLeaves)
                        })
                        .catch(error => {
                            console.error("Error deleting log:", error);
                        });
                })
            })
        }

        function addAllLeaves(updatedLeaves) {
            logsTableBody.innerHTML = ''; // Clear existing logs
            updatedLeaves?.forEach((leave, index) => {
                const row = document.createElement('tr');
                row.classList.add('logs-table-row');
                row.setAttribute('data-id', leave.id);

                row.innerHTML = `
                    <td>${index + 1}</td>
                    <td>${leave.subject}</td>
                    <td>${leave.body}</td>
                    <td>${new Date(leave.startDate).toISOString().split('T')[0]}</td>
                    <td>${new Date(leave.endDate).toISOString().split('T')[0]}</td>
                    <td>${leave.status}</td>
                      <td style="text-align: center;">
                        <button id="edit-log-button" class="edit-leave-button" data-id=${leave.id} title="Edit">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button id="delete-log-button" class="delete-log-button" data-id=${leave.id}
                            title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                `;

                logsTableBody.appendChild(row);

            });
            addEventListeners()
            addDeleteEventListners()
            form.reset()
            form.querySelector('button[name="add-leave-button"]').textContent = "Request Leave";
        }

        addEventListeners()
        addDeleteEventListners()
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const logId = document.querySelector('input[name="id"]').value;
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            const method = logId ? "PATCH" : "POST";
            const actionUrl = '/leaves';

            fetch(actionUrl, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(updatedLeaves => {
                    addAllLeaves(updatedLeaves)
                    // Optionally, reset the form after submission
                    form.reset();
                })
                .catch(error => {
                    console.error("Error submitting form:", error);
                });
        });
    });

</script>